In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

# Create a SparkSession
spark = SparkSession.builder.appName("App").getOrCreate()
spark.sparkContext.setLogLevel("ERROR")

23/12/09 14:38:40 WARN Utils: Your hostname, user-HP-EliteBook-840-G7-Notebook-PC resolves to a loopback address: 127.0.1.1; using 192.168.1.141 instead (on interface wlp0s20f3)

In [4]:
# Exercise 3

inputDf = spark.read.format("csv").option("delimiter", " ").load("pagecounts-20100806-030000")
inputDf = inputDf \
    .withColumnRenamed("_c0", "project_name") \
    .withColumnRenamed("_c1", "page_title") \
    .withColumnRenamed("_c2", "num_requests") \
    .withColumnRenamed("_c3", "content_size") \
    .withColumn("num_requests", col("num_requests").cast("long")) \
    .withColumn("content_size", col("content_size").cast("long"))

print("Project summary")
projectSummary = inputDf.groupBy("project_name") \
    .agg(
        count("page_title").alias("num_pages"),
        sum("content_size").alias("content_size"),
        avg("num_requests").alias("mean_requests"))
projectSummary.show()

print("Most visited")
inputDf.join(projectSummary.select("project_name", "mean_requests"), "project_name") \
    .filter(col("num_requests") > col("mean_requests")).show()
#    .orderBy(col("num_requests").desc()) \

Project summary
+------------+---------+------------+------------------+
|project_name|num_pages|content_size|     mean_requests|
+------------+---------+------------+------------------+
|     cbk-zam|      174|     3976932|1.1781609195402298|
|        co.b|       13|       59223|1.1538461538461537|
|        cs.n|       95|      423117| 1.063157894736842|
|          en|  2245124|299984572954| 4.458697158820627|
|  be-x-old.d|        1|        6584|               1.0|
|          cr|       38|      729029|1.3421052631578947|
|        as.d|        7|       34520|1.4285714285714286|
|        dv.n|        1|        6584|               1.0|
|        cr.d|        1|       13604|               1.0|
|         crh|      195|     3587699|1.1384615384615384|
|       ast.q|        4|       37021|               1.0|
|       als.n|        1|        6584|               1.0|
|       ang.q|        9|       47678|               1.0|
|        am.d|       14|      119050|               1.0|
|        af.q|       11|       27529|               1.0|
|        cy.d|      108|     4400825|2.4722222222222223|
|       an.mw|        1|      138260|              11.0|
|       be.mw|        1|       88180|               6.0|
|        cs.d|      278|     3450557|1.4640287769784173|
|        cy.s|       14|       63061|               1.0|
+------------+---------+------------+------------------+
only showing top 20 rows

Most visited
+------------+--------------------+------------+------------+------------------+
|project_name|          page_title|num_requests|content_size|     mean_requests|
+------------+--------------------+------------+------------+------------------+
|     cbk-zam|                1849|           2|       39051|1.1781609195402298|
|     cbk-zam|                1867|           2|       38689|1.1781609195402298|
|     cbk-zam|                1883|           2|       40513|1.1781609195402298|
|     cbk-zam|                1896|           2|       30645|1.1781609195402298|
|     cbk-zam|                1904|           2|       18105|1.1781609195402298|
|     cbk-zam|                1973|           2|       47370|1.1781609195402298|
|     cbk-zam|                1974|           2|       46179|1.1781609195402298|
|     cbk-zam|                1978|           3|       55402|1.1781609195402298|
|     cbk-zam|                1983|           2|       42557|1.1781609195402298|
|     cbk-zam|     20_de_Diciembre|           2|       45268|1.1781609195402298|
|     cbk-zam|         24_de_Enero|           2|       46136|1.1781609195402298|
|     cbk-zam|     26_de_Diciembre|           2|       46004|1.1781609195402298|
|     cbk-zam|         28_de_Enero|           2|       46137|1.1781609195402298|
|     cbk-zam|              Brasil|           3|      109245|1.1781609195402298|
|     cbk-zam|             Corazon|           2|       28292|1.1781609195402298|
|     cbk-zam|   El_Primero_Pagina|           4|      115502|1.1781609195402298|
|     cbk-zam|               Enero|           3|       23211|1.1781609195402298|
|     cbk-zam|Especial:Contribu...|           2|       34184|1.1781609195402298|
|     cbk-zam|Estados_Unidos_de...|           2|      104406|1.1781609195402298|
|     cbk-zam|           Jerusalem|           2|      127862|1.1781609195402298|
+------------+--------------------+------------+------------+------------------+
only showing top 20 rows

In [5]:
# Exercise 4

columns = ["id","name","surname","age","country","local_phone"]
input_data = [(1,"Simón","Bolivar",47,"VEN","489 895 965"),
    (2,"Fidel","Castro",90,"CU","956 268 348"),
    (3,"Jose","Doroteo",45,"MEX","985 621 444"),
    (4,"Ernesto","Guevara",39,"AR","895 325 481"),
    (5,"Hugo","Chávez",58,"VE","489 895 965"),
    (6,"Camilo","Cienfuegos",27,"CUB","956 268 348"),
    (7,"Emiliano","Zapata",39,"ME","985 621 444"),
    (8,"Juan Domingo","Perón",78,"ARG","985 621 444"),
  ]


from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

df = spark.createDataFrame(input_data).toDF(*columns)
df.show()

states = {"VEN VE":"+58", "CU CUB":"+53", "ME MEX":"+52", "AR ARG":"+54"}
transformed_states = {}

for key, value in states.items():
    codes = key.split()
    for code in codes:
        transformed_states[code] = value

# print(transformed_states)

def country_convert_to_udf(code):
    return transformed_states[code]

country_convert = udf(country_convert_to_udf, StringType())

mod_df = df.withColumn('phone_code', country_convert(col('country')))
mod_df.show()

+---+------------+----------+---+-------+-----------+
| id|        name|   surname|age|country|local_phone|
+---+------------+----------+---+-------+-----------+
|  1|       Simón|   Bolivar| 47|    VEN|489 895 965|
|  2|       Fidel|    Castro| 90|     CU|956 268 348|
|  3|        Jose|   Doroteo| 45|    MEX|985 621 444|
|  4|     Ernesto|   Guevara| 39|     AR|895 325 481|
|  5|        Hugo|    Chávez| 58|     VE|489 895 965|
|  6|      Camilo|Cienfuegos| 27|    CUB|956 268 348|
|  7|    Emiliano|    Zapata| 39|     ME|985 621 444|
|  8|Juan Domingo|     Perón| 78|    ARG|985 621 444|
+---+------------+----------+---+-------+-----------+

+---+------------+----------+---+-------+-----------+----------+
| id|        name|   surname|age|country|local_phone|phone_code|
+---+------------+----------+---+-------+-----------+----------+
|  1|       Simón|   Bolivar| 47|    VEN|489 895 965|       +58|
|  2|       Fidel|    Castro| 90|     CU|956 268 348|       +53|
|  3|        Jose|   Doroteo| 45|    MEX|985 621 444|       +52|
|  4|     Ernesto|   Guevara| 39|     AR|895 325 481|       +54|
|  5|        Hugo|    Chávez| 58|     VE|489 895 965|       +58|
|  6|      Camilo|Cienfuegos| 27|    CUB|956 268 348|       +53|
|  7|    Emiliano|    Zapata| 39|     ME|985 621 444|       +52|
|  8|Juan Domingo|     Perón| 78|    ARG|985 621 444|       +54|
+---+------------+----------+---+-------+-----------+----------+